@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
          font-family: "Work Sans", serif;
          font-optical-sizing: auto;
          font-weight:400 px;
          font-style: normal;
        }
 /* sherd-style-start */
 .disply-felx{
          display: flex;
 }
 /* Dark-o2 */
 .text-grey{
          color: #424242;
 }
 /* Dark-o3 */
.text-list-grey{
          color: #727272;
}
.btn_primary{
          font-size: 20px;
          font-weight: 500;
          color: #FFFFFF;
          background-color: #FF900E;
          padding: 20px 25px;
          border-radius: 1rem;
}


 /* sherd-style end */

 /* heading-style-start */
 .head-color{
          background-color: rgba(255, 144, 14, 0.1);
 }


 /* heading-style-end */

 /* nav-ber-style start */
 .nav-item{
          list-style: none;
          
 }
 .band-name{
          font-size:3rem;
          font-weight: 700;
 }
 .nav-link{
          text-decoration: none;
 }
 .nav-links{
          gap: 25px;
 }
 .navbar{
          justify-content: space-between;
          align-items: center;
 }
 .navbar,.banar{
          max-width: 1440px;
          margin: 0% auto;
          
 }
 /* nav-ber-style end */
 /* banar related style */
 .banar-contant{
          max-width: 850px;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 10px;

 }
 .banar-title{
          font-weight: 700;
          font-size:4rem ;
 }
.banr_description{
          font-size: 1rem;
          font-size: 400;
}
.banar-img{
          width: 100%;
}

@media screen and (max-width:576px) {
          .navbar, .nav-links{
              flex-direction: column;
          }
          
}