@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
          font-family: "Work Sans", serif;
          font-optical-sizing: auto;
          font-weight:400 px;
          font-style: normal;
        }
 /* sherd-style-start */
 .disply-felx{
          display: flex;
 }
 /* Dark-o2 */
 .text-grey{
          color: #424242;
 }
 /* Dark-o3 */
.text-list-grey{
          color: #727272;
}

 /* sherd-style end */

 /* heading-style-start */
 .head-color{
          background-color: rgba(255, 144, 14, 0.1);
 }

 /* heading-style-end */

 /* nav-ber-style start */
 .nav-item{
          list-style: none;
          
 }
 .nav-link{
          text-decoration: none;
 }
 .nav-links{
          gap: 25px;
 }
 .navbar{
          justify-content: space-between;
 }
 .navbar,.banar{
          max-width: 1440px;
          margin: 0% auto;
          
 }
 /* nav-ber-style end */
