@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
          font-family: "Work Sans", serif;
          font-optical-sizing: auto;
          font-weight:400 px;
          font-style: normal;
        }
 /* sherd-style-start */
 .disply-felx{
          display: flex;
 }
 /* Dark-o2 */
 .text-grey{
          color: #424242;
 }
 /* Dark-o3 */
.text-list-grey{
          color: #727272;
}
.btn_primary{
          font-size: 20px;
          font-weight: 500;
          color: #FFFFFF;
          background-color: #FF900E;
          padding: 20px 25px;
          border-radius: 1rem;
}
main{

          max-width:1440px ;
          margin: 0 auto;
}
main>section{
          margin-top:85px;
}
.section-title{
          font-size:30px;
          font-weight:500px ;
          color: rgba(114, 114, 114, 1);}


 /* sherd-style end */

 /* heading-style-start */
 .head-color{
          background-color: rgba(255, 144, 14, 0.1);
 }


 /* heading-style-end */

 /* nav-ber-style start */
 .nav-item{
          list-style: none;
          
 }
 .band-name{
          font-size:3rem;
          font-weight: 700;
 }
 .nav-link{
          text-decoration: none;
 }
 .nav-links{
          gap: 25px;
 }
 .navbar{
          justify-content: space-between;
          align-items: center;
 }
 .navbar,.banar{
          max-width: 1440px;
          margin: 0% auto;
          
 }
 /* nav-ber-style end */
 /* banar related style */
 .banar-contant{
          max-width: 850px;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 10px;

 }
 .banar-title{
          font-weight: 700;
          font-size:4rem ;
 }
.banr_description{
          font-size: 1rem;
          font-size: 400;
}
.banar-img{
          width: 100%;
}
/* main realated styles start */
.tems{
          align-items: center;
}
.team-image-containar{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 24px;
}
.our-features{
          margin-left: 130px;
          max-width: 537px;

}


       .kapsi{
          font-size: 35px;
          font-weight: 700;
          color:rgba(19, 19, 19, 1);
       }
       .jontrona{
          font-size: 35px;
          font-weight: 700;
          color: rgba(255, 144, 14, 1);
       }
       .features-description{
          font-size: 15px;
          font-weight: 400;
          color:rgba(114, 114, 114, 1);;

       }
/* main realated styles end */
/* facts -style-containar start */
.facts-containar{
          display: grid;
          grid-template-columns: repeat(4,1fr);
}
.fact{
          width: 241px;
          height: 241px;
          border: 1px solid #FF900E;
          border-radius: 10px;
          text-align: center;
          align-items: center;
          justify-content: center;
          padding-top: 25px;
}
/* facts-style-contaianr-end */

/* sponsors-related styles start */
.sponsors-info{
   max-width: 542px;
   margin: 0px auto;
   text-align:center;
   
}
.sponsors-img{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   margin-top: 20px;
   filter: grayscale(100%);
}

/* sponsors-reletd styles end */




@media screen and (max-width:576px) {
          .navbar, .nav-links ,.tems  {
              flex-direction: column;
          }
.team-image-containar ,.facts-containar {
          grid-template-columns:repeat(1,1fr) ;
}
.facts-containar{
   justify-content: center;
}
          
.our-features{
          margin-left: 20px;
}

.sponsors-img{
   grid-template-columns: repeat(1,1fr);
   gap: 1rem
}
          
}